{% extends "base.html.twig" %}

{% block title %}AppBundle:Todo:index{% endblock %}

{% block body %}
    <h1>Welcome to the Todo:index page</h1>
    <div>{{ hello }}</div>
    <table>
        {% for todo in todos %}
            <tr>
                <td>
                    <a href="{{ path('show_todo', {'id': todo.id}) }}">詳細</a> |
                    <a href="{{ path('edit_todo', {'id': todo.id}) }}">編集</a> |
                    <a href="{{ path('delete_todo', {'id': todo.id}) }}">削除</a>
                </td>
                <td>{{ todo.id }}</td>
                <td>{{ todo.title }}</td>
                <td>{{ todo.body }}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('new_todo') }}">新規作成</a>
{% endblock %}
