{% extends "base.html.twig" %}

{% block title %}AppBundle:Todo:show{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>Id</th>
            <td>{{ todo.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ todo.title }}</td>
        </tr>
        <tr>
            <th>Body</th>
            <td>{{ todo.body }}</td>
        </tr>
    </table>
    <a href="{{ path('index_todo') }}">一覧</a> |
    <a href="{{ path('edit_todo', {'id': todo.id}) }}">編集</a> |
    <a href="{{ path('delete_todo', {'id': todo.id}) }}">削除</a>
{% endblock %}
